<div class="bg-gradient-to-b to-indigo-800 via-purple-600 via-orange-500 from-pink-500 h-[100vh] w-[100%]">
    <div class="pt-20 flex flex-col items-center">
        <form class="p-10 flex flex-col gap-4 w-[40%] h-[40%] bg-gray-300 rounded-xl" action="">
            <div class="text-3xl font-bold pb-6">Create an account</div>
            <hr class="drop-shadow-lg border-3 border-black">
            <label class="text-2xl" for="email">Email</label>
            <input class="rounded-lg h-[40px] bg-gray-100 p-2" type="text" name="email" formControlName="email" placeholder="Email">
            <label class="text-2xl" for="password">Password</label>
            <input class="rounded-lg h-[40px] bg-gray-100 p-2" type="password" name="password" id="" formControlName="password" placeholder="Password">
            <label class="text-2xl" for="password">Verify password</label>
            <input class="rounded-lg h-[40px] bg-gray-100 p-2" type="password" name="password" id="" formControlName="password" placeholder="Verify password">
            <button class="mt-10 flex justify-center items-center w-40 h-10 rounded-[10px] bg-gray-400 hover:bg-gray-200 hover:border-2 hover:border-black" 
                    type="submit" 
                    >Sign up
                </button>
        </form> 
    </div>
</div>
